<div style="min-height: 100% !important; width: 40%; gap: 15px !important;" class="card d-flex flex-column justify-content-center">
  <%= form_with(url: {controller: "flights", action: "index"}, method: :get, html: {style: 'max-width: 100%; ', class: 'd-flex flex-column align-items-start gap-3 m-1'}) do |f| %>
    <div style="max-width: 95%" class="d-flex flex-column">
      <%= f.label :departure_airport_id, 'Departure Airport' %>
      <%= f.select :departure_airport_id, @airports, {}, { style: 'max-width: 100% !important;' } %>
    </div>

    <div style="max-width: 95%", class="d-flex flex-column">
      <%= f.label :arrival_airport_id, 'Arrival Airport' %>
      <%= f.select :arrival_airport_id, @airports, {}, { style: 'max-width: 100% !important;' } %>
    </div>

    <div style="max-width: 95%" class="d-flex flex-column">
      <%= f.label :required_seats, 'Seats Required' %>
      <%= f.number_field :required_seats, value: 1 %>
    </div>

    <div style="max-width: 95%" class="d-flex flex-column">
      <%= f.label :start_time, 'Date' %>
      <%= f.date_field :start_time %>
    </div>

    <%= f.submit 'Search', style: 'width: 50%; align-self: center;' %>
  <% end %>
</div>