<div style="!important; width: 100%; gap: 15px !important;" class="card d-flex flex-column align-items-center">
  <ul style="!important; width: 98%;" class="list-unstyled card d-flex flex-column align-items-center p-1 m-1">
    <% if @tickets %>
      <% @tickets.each do |ticket| %>
        <li class="card p-1 m-1 bg-light bg-gradient">
            <h5>
            <small><strong>From </strong></small><%= ticket.flight.departure_airport.code %> Airport <small><strong> To </strong></small><%= ticket.flight.arrival_airport.code %> Airport
            </h5>
            <p>
              <small><strong>Flies from </strong></small><%= ticket.flight.departure_airport.city.upcase %>, <%= ticket.flight.departure_airport.country.upcase %><small><strong> Land's in </strong></small><%= ticket.flight.arrival_airport.city.upcase %>, <%= ticket.flight.arrival_airport.country.upcase %>
            </p>
              <div class="d-flex justify-content-end">
                <p class="text-reset text-decoration-none"><strong>Flies in: </strong><small><%= ticket.flight.start_time.strftime("%a, %d %b %Y") %> </small></p>
                <p class="text-reset text-decoration-none mx-1"><strong> Duration: </strong><small><%= ticket.flight.duration %> Hrs </small></p>
              </div>
        </li>
        <% end %>
    <% else %>
      <li class="p-2 m-2">
        <h5 >You have not booked any ticket!!!<h5>
      <li>
    <% end %>
  </ul>
</div>